// * {
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
// }


$mdc-theme-primary: #fcb8ab !important;
$mdc-theme-secondary: #feeae6;
$mdc-theme-on-primary: #442b2d;
$mdc-theme-on-secondary: #442b2d;