@import '@material/react-drawer/index.scss';
@import '@material/react-list/index.scss';

.profile-img {
    object-fit: cover;
}

.user-list {
    padding: 0;
    height: calc(100vh - 170px);
    border-right: 1px solid #ccc;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: .2em;
    }
     
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }
     
    &::-webkit-scrollbar-thumb {
      background-color: #57a6d1;
    }
    
}


.user-panel {
    height: 100%;
    background: #F7F9FA !important;
}

.contact-header {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}